<% content_for :sidebar do %>
  <h1>Time to Focus</h1>
  <h2>Task: <%= current_user[:task][-1] %></h2>
  <h2>Focus Time: <%= current_user[:focus_time]  %> minutes</h2>
  <h2>Break Time: <%= current_user[:rest_time] %> minutes</h2>

  <h4> Done for now?</h4>
  <form method="get" action="/logout">
    <button type="submit">Log Out</button>
  </form>
  <%= Date.today %>
  <% if session[:records] %>
    <%= session[:records] %>
  <% end %>
<% end %>

<div id="timer-container">
  <h2>Countdown Timer</h2>
  <p id="timer-display">10:00</p>

  <button type="button" id="startTimer">Start</button>
  <button type="button" id="stopTimer" >Stop</button>
  <button type="button" id="resetTimer">Reset</button>
</div>

<div class="markdown-container">  
<% static_header = [
    "| Task | Date | Minutes | Add? |",
    "|--------|---------|-------------|---------|",
    "|form | form  | form       | button |"
  ] %>

  <% dynamic_data = [] %>
  <% if session[:records] %>
    <% session[:tasks].each_with_index do |task, index| %>
      <% dynamic_data << "| #{task} | #{session[:dates][index]} | #{session[:minutes][index]} | button |" %>
    <% end %>
  <% end %>

  <% table_data = static_header + dynamic_data %>

  <%= render_markdown(table_data.join("\n")) %>
</div>
